{% extends 'todo_List/main.html' %}
{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>
<body>
    <div class="header">
        <h1>Login</h1>
    </div>
    <div class="card-body">
    <form action="" method="post" style="text-align:center;">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login">
        <div class="register">
        <small>
        <p> Don't have an account?<a href="{% url 'register' %}" style="color:black">Register</a></p>
        </small>
    </div>
    </form>
</div>
</body>
</html>
{% endblock content%}